<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\static\css\112303542_css.css">
        <title>112303542_黃柏翰</title>
    </head>
    
    <body>
        <h1>3 Facts About Me</h1>
        <table border="1" width="150px">
            <tr>
                <td>
                    <img src="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\static\image\ME.png" width="300px" height="150px">
                </td>
                <td>
                    <img src="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\static\image\My profile.png" width="300px" height="150px">
                </td>
                <td>
                    <img src="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\static\image\music.jpg" width="300px" height="150px">
                </td>
            </tr>
            <tr>
                <td><a href="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\templates\112303542_detail.html">Major:Mechanical Engineering</a></td>
                <td><a href="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\templates\112303542_detail.html">My Github</a></td>
                <td><a href="C:\Users\henry\OneDrive\桌面\ME2025Demo\hw3\templates\112303542_detail.html">My Favorite Band</a></td>
            </tr>
        </table>
    </body>
</html>