<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <script src="../static/json.js"></script>
</head>
<body>
    <h1>成績輸入系統</h1>
    <h4 id="teachername"></h4>

    <form id="gradeForm">
        <label for="student_name">學生姓名:</label>
        <input id="student_name">
        <br><br>
        <label for="student_id">學生學號:</label>
        <input id="student_id">
        <br><br>
        <label for="student_score">學生成績:</label>
        <input id="student_score">
        <br><br>
        <button type="submit">新增資料</button>
    </form>
    <br><br>
    
    <table border="1">
        <thead>
            <tr><th>姓名</th><th>學號</th><th>成績</th></tr>
        </thead>
        <tbody id="studentTable"></tbody>
    </table>
    <br><br>

    <label for="Delete_student_data">輸入學號刪除學生資料:</label>
    <input id="Delete_student_data">
    <button id="deleteButton">刪除</button>
    <br><br>
    
    <form action="Login.html" id="logout">
        <button type="submit" id="logout">登出</button>
    </form>
</body>
</html>