<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <script src="../static/json.js"></script>
</head>
<body>
    <h1>成績輸入系統</h1>
    <h4 id="teachername"></h4>
    <h4>老師，您好</h4>
    <form action="Login.html">
        <button type="submit">登出</button>
        <br><br>
        <label for="student_name">學生姓名:</label>
        <input name="input_name" id="student_name">
        <br><br>
        <label for="student_id">學生學號:</label>
        <input name="input_id" id="student_id">
        <br><br>
        <label for="student_score">學生成績:</label>
        <input name="input_score" id="student_score">
    </form>
    <br>
    <input type="submit">
    <br><br>
    <label for="Delete_student_data" class="Delete_student_data">輸入學號刪除學生資料:</label>
    <input id="Delete_student_data" class="Delete_student_data">
    <button type="button" class="Delete_student_data" onclick="answer_check()">刪除</button>
</body>
</html>