<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../static/json.js"></script>
</head>
<body>
    <h1>教師登入介面</h1>
    <form action="Grades.html" id="loginForm">
        <label for="input_1">教師帳號:</label>
        <input id="input_1">
        <br><br>
        <label for="teacherpw">帳號密碼:</label>
        <input type="password" id="teacherpw">
        <br><br>
        <button type="submit">登入</button>
    </form>
</body>
</html>