table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td{
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

button {
  border: none;
  background: #ddd;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #bbb;
}

