table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td{
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

button {
  border: none;
  background: #ddd;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #bbb;
}

.itemnum {
  width: 40px;
  text-align: center;
}

.total_area td:first-child {
  text-align: center;
  padding-right: 15px;
}

.checkout_box {
  text-align: right;
}

#checkout {
  background: #666;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

#checkout:hover {
  background-color: #444;
}

.item {
  transform: scale(2);
  cursor: pointer;
  margin: 4px;
}