<!DOCTYPE html>
<html>
    <head>
        <title>購物車</title>
        <link rel="stylesheet" href="../static/112303542_js_2.css">
    </head>
    <body>
        <h4><b>購物車</b></h4>
        <table id="cart">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkbox_all"></th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>小計</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="checkbox" class="item"></td>
                    <td>
                        <img src="https://www.ikea.com.tw/dairyfarm/tw/images/949/1094925_PE863680_S4.webp" width="60">
                        <p class="name">手機架</p>
                    </td>
                    <td class="stock">200</td>
                    <td class="price">79</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="itemnum" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="total">79</td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="item"></td>
                    <td>
                        <img src="https://www.ikea.com.tw/dairyfarm/tw/images/190/1019089_PE831297_S4.webp" width="60">
                        <p class="name">辦公椅</p>
                    </td>
                    <td class="stock">56</td>
                    <td class="price">7499</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="itemnum" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="total">7499</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" class="item"></td>
                    <td>
                        <img src="https://www.ikea.com.tw/dairyfarm/tw/images/101/0710175_PE727378_S4.webp" width="60">
                        <p class="name">鯊魚填充玩具</p>
                    </td>
                    <td class="stock">105</td>
                    <td class="price">590</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="itemnum" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="total">590</td>
                </tr>
            </tbody>

            <tfoot class="total_area">
                <tr>
                    <td colspan="5">total</td>
                    <td id="total">0</td>
                </tr>
            </tfoot>
        </table>

        <div class="checkout_box">
             <button id="checkout">結帳</button>
        </div>
        <script src="../static/112303542_js_2.js"></script>
    </body>
</html>