<!DOCTYPE html>
<html>
    <head>
        <title>猜數字遊戲</title>
        <script src="../static/112303542_js_1.js"></script>
    </head>
    <body>
        <h1><b>猜數字遊戲</b></h1><br>
        <form>
            <label for="inputNumber">請輸入一個介於0~100的整數:</label>
            <label for="inputNumber" id="output"></label>
            <br>
            <br>
            <input name="inputNumber" id="guessNumber">
            <button type="button" onclick="answer_check()">猜</button>
            <br>
            <label for="inputNumber" id="output_2"></label>
            <ol id="history"></ol>
        </form>
    </body>
</html>