<!DOCTYPE html>
<html>
    <head>
        <title>購物車</title>
        <script rel="stylesheet" href="../static/112303542_js_2.css"></script>
        <script src="../static/112303542_js_2.js"></script>
    </head>
    <body>

        <h4><b>購物車</b></h4>
        <table id="cart">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkbox_all"></th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>小計</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="checkbox" class="item"></td>
                    <td>手機架</td>
                    <td class="stock">200</td>
                    <td class="price">$79</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="itemnum" value="1">
                        <button class="minus">+</button>
                    </td>
                    <td class="total">79</td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="item"></td>
                    <td>辦公椅</td>
                    <td class="stock">56</td>
                    <td class="price">$7499</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="itemnum" value="1">
                        <button class="minus">+</button>
                    </td>
                    <td class="total">7499</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" class="item"></td>
                    <td>大鯊魚</td>
                    <td class="stock">105</td>
                    <td class="price">$590</td>
                    <td>
                        <button class="minus">-</button>
                        <input type="text" class="itemnum" value="1">
                        <button class="minus">+</button>
                    </td>
                    <td class="total">590</td>
                </tr>
            </tbody>

            <!--<tfoot>
                <td>total</td>
                <td><span id="total_area">$0</span></td>
            </tfoot>-->
        </table>
        <div class="total-area">
            <p>total <span id="total">$0</span></p>
            <button id="checkout">結帳</button>
        </div>
    </body>
</html>