<!DOCTYPE html>
<html>
    <head>
        <title>購物車</title>
        <script src="../static/112303542_js_2.js"></script>
    </head>
    <body>
        <h4><b>購物車</b></h4>
        <table id="cart">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkbox_all"></th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>小計</th>
                </tr>
            </thead>
            
        </table>
    </body>
</html>